<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Sports's Page</title>

    <!-- ====================================================================== -->
    <!-- ============== CSS Files Here ======================================== -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Bevan|Chonburi|Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="./src/css/main.css" />
</head>

<body>
    <div class="container-fluid">
        <h1 class="text-center">Scores From Around The Leagues</h1>
        <div class="title-images d-inline-flex justify-content-around fixed-top">
            <img src="./src/img/mlb-sm.jpg" alt="Pitcher Throwing Ball">
            <img src="./src/img/nfl-sm.jpg" alt="David Tyree Superbowl Catch">
            <img src="./src/img/nba-sm.jpg" alt="Michael Jordan Dunking">
        </div>
        <hr class="my-2">
        
        <div id="app">
            <img v-bind:src="sport_logo_image">
            <h2 class="text-center">{{ currentTab }} Scores</h2>
            <h3 class="text-center">For {{ gameDate }} </h3>

            <!-- Error Handling Markup for API Calls -->
            <section v-if="errored">
                <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
            </section>
            <section v-else>
               <div v-if="loading">Loading...</div>
            </section>
            <!-- End API Error Markup -->

            <button v-for="tab in tabs" 
                v-bind:key="tab" 
                v-bind:class="['tab-button', {active: currentTab === tab }]" 
                v-on:click="getSportsData( tab )">{{ tab }}
            </button>
            <!--  ==== v-bind:is tells us what component to use i.e. mlb-tab  
                        Important. Must use kebab case for v-bind baseballData attribute
                        because html is case insensitive and we used camelCase for
                        variable names in component.
            -->  
            <component v-bind:is="currentTabComponent" v-bind:props_league_data="sports_feeds_data" v-bind:props_league_data_nfl="nfl_feeds" v-bind:props_league_standings="standings" v-bind:props_baseball_playoffs="baseball_playoffs" v-bind:props_end_of_season="end_of_season" class="tab"></component>
                            
        </div>
    </div>
    <!-- ====================================================================== -->
    <!-- ===================== JavaScript Files Below This Line =============== -->
    <!-- ====================================================================== -->
    <!-- No Javascript for Bootstrap or jQuery needed. Gotta like Vue.js. -->

    <script src="index.js"></script>

</body>

</html>