html {
  height: 100%;
}

body {
  background-color: rgba(245,245,245, 0.2);
  cursor: default;
  font-size: 62.5%;
}

h1 {
  font-family: 'Abril Fatface', cursive;
}
  h2, h3 {
    font-weight: 800;
    font-family: 'Abril Fatface', cursive;
  }

img {
  height: auto;
  width: 100%;
}
  img[src="./src/img/nyy.png"] {
    width: 15px;
  }
  img[src="./src/img/nym.png"] {
    width: 15px;
  }
  img[src="./src/img/nyj.png"] {
    width: 25px;
  }
  img[src="./src/img/nyg.png"] {
    width: 25px;
  }
  img[src="./src/img/NFL.png"] {
    width: 25vw;
    margin: 0 auto;
    display: block;
  }
  img[src="./src/img/MLB.png"] {
    width: 25vw;
    margin: 0 auto;
    display: block;
  }
  img[src="./src/img/NBA.png"] {
    width: 25vw;
    margin: 0 auto;
    display: block;
  }
 

/* Tab Interface Styling */
.tab-button {
  font-size: 1.5rem;
  padding: 6px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: rgba(56,114,173, 0.6);
  margin-bottom: -1px;
  margin-right: -1px;
  font-weight: 700;
}
.tab-button:hover {
  background: rgba(56,114,173, 0.8);;
}
.tab-button.active {
  background: rgba(56,114,173, 0.4);;
}
.tab {
  border: 1px solid #ccc;
  padding: 10px;
}
span.tab {
  border: 0;
}
/* End Tab Stylings */

a.nav-link {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
}

.football {
  margin-top: 40px;
}

  
.division-name {
  font-family: 'Abril Fatface', cursive;
  color: #5a7ba6;
  font-size: 16px;
  margin-top: 30px;
}
  .division-name table {
    all: initial;
  }
  th {
    font-size: .8rem;
  }


.box-score-status {
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 700;
  
}

  .box-score-team {
    font-family: 'Chonburi', cursive;
    margin-bottom: 0;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .box-score-inning {
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 2px;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .box-score-final {
    font-family: 'Anton', sans-serif;
    margin-left: 10px;
    font-size: 0.8rem;
    font-weight: 700;
  }

.is-completed {
  color: rgb(245, 45, 45);
}

.won {
  color: goldenrod;
}
