html {
    height: 100%;
}

body {
    background-color: rgba(65, 179, 12, 0.685);
    cursor: default;
    font-size: 62.5%;
}

img {
    height: auto;
    width: 100%;
}   

a.nav-link {

    background-color: rgb(72, 211, 102);
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
}

.box-score-item {
    margin-bottom: 0;
    font-size: .8rem;
    font-weight: 700;
}

.is-completed {
    color: rgb(245, 45, 45);
}