/* ======== Team Color Classes ==================== */
/* ======== NFL =============== */
.ne {
  background-color: #002653;
}

.buf {
  background-color: #0029c4;
}

.mia {
  background-color: #008e97;
}
.nyj {
  background-color: #125740;
}
.bal {
  background-color: #2e2d88;
}
.cle {
  background-color: #ff3c00;
}
.pit {
  background-color: #ffb612;
}
.cin {
  background-color: #fb4f14;
}
.hou {
  background-color: #03202f;
}
.ind {
  background-color: #003485;
}
.jax {
  background-color: #d7a22a;
}
.ten {
  background-color: #5085bc;
}
.kc {
  background-color: #e31837;
}
.oak {
  background-color: #000000;
}
.lac {
  background-color: #ffc20e;
}
.den {
  background-color: #fb4f14;
}
.dal {
  background-color: #00386c;
}
.phi {
  background-color: #004c54;
}
.nyg {
  background-color: #03497f;
}
.was {
  background-color: #79002e;
}
.gb {
  background-color: #003b2a;
}
.chi {
  background-color: #c83803;
}
.min {
  background-color: #4e2683;
}
.det {
  background-color: #0076b6;
}
.no {
  background-color: #d3bc8d;
}
.car {
  background-color: #108dcd;
}
.tb {
  background-color: #d50a0a;
}
.atl {
  background-color: #c9243f;
}
.sf {
  background-color: #aa0000;
}
.sea {
  background-color: #003463;
}
.la {
  background-color: #13264b;
}
.ari {
  background-color: #97233f;
}

/* ======= End NFL ========== */

/* ======== NBA =========== */
.atl-nba {
  background-color: #e03a3e;
  border: 4px solid #c1d32f;
}

.bos-nba {
  background-color: #007a33;
  border: 4px solid #ba9653;
}

.bro-nba {
  background-color: #000000;
  border: 4px solid #c6cfd4;
}

.cha-nba {
  background-color: #1d1160;
  border: 4px solid #00788c;
}

.chi-nba {
  background-color: #ce1141;
  border: 4px solid #000;
}

.cle-nba {
  background-color: #6f263d;
  border: 4px solid #fdbb30;
}

.dal-nba {
  background-color: #00538c;
  border: 4px solid #bbc4ca;
}

.den-nba {
  background-color: #00285e;
  border: 4px solid #fec524;
}

.det-nba {
  background-color: #ed174c;
  border: 4px solid #1d42ba;
}

.gsw-nba {
  background-color: #006bb6;
  border: 4px solid #ffc72c;
}

.hou-nba {
  background-color: #ce1141;
  border: 4px solid #000;
}

.ind-nba {
  background-color: #002d62;
  border: 4px solid #fdbb30;
}

.lac-nba {
  background-color: #ed174c;
  border: 4px solid #1d42ba;
}

.lal-nba {
  background-color: #552583;
  border: 4px solid #fdb927;
}

.mem-nba {
  background-color: #6189b9;
  border: 4px solid #12173f;
}

.mia-nba {
  background-color: #98002e;
  border: 4px solid #f9a01b;
}

.mil-nba {
  background-color: #00471b;
  border: 4px solid #eee1c6;
}

.min-nba {
  background-color: #0c2340;
  border: 4px solid #236192;
}

.nop-nba {
  background-color: #002b5c;
  border: 4px solid #c8102e;
}

.nyk-nba {
  background-color: #006bb6;
  border: 4px solid #f58426;
}

.okl-nba {
  background-color: #007ac1;
  border: 4px solid #ef3b24;
}

.orl-nba {
  background-color: #0057b8;
  border: 4px solid #c4ced4;
}

.phi-nba {
  background-color: #006bb6;
  border: 4px solid #ed174c;
}

.phx-nba {
  background-color: #1d1160;
  border: 4px solid #e56020;
}

.por-nba {
  background-color: #e03a3e;
  border: 4px solid #000;
}

sac-nba {
  background-color: #5a2d81;
  border: 4px solid #63727a;
}

.sas-nba {
  background-color: #000000;
  border: 4px solid #c4ced4;
}

.tor-nba {
  background-color: #ce1141;
  border: 4px solid #000;
}

.uta-nba {
  background-color: #002b5c;
  border: 4px solid #00471b;
}

.was-nba {
  background-color: #002b5c;
  border: 4px solid #e31837;
}
/* ======= End NBA ======== */

/* =========== End Team Colors Classes ============= */
