/* ======== Team Color Classes ==================== */
/* ======== NFL =============== */
.ne {
  background-color: #002653;
}

.buf {
  background-color: #0029c4;
}

.mia {
  background-color: #008e97;
}
.nyj {
  background-color: #125740;
}
.bal {
  background-color: #2e2d88;
}
.cle {
  background-color: #ff3c00;
}
.pit {
  background-color: #ffb612;
}
.cin {
  background-color: #fb4f14;
}
.hou {
  background-color: #03202f;
}
.ind {
  background-color: #003485;
}
.jax {
  background-color: #d7a22a;
}
.ten {
  background-color: #5085bc;
}
.kc {
  background-color: #e31837;
}
.oak {
  background-color: #000000;
}
.lac {
  background-color: #ffc20e;
}
.den {
  background-color: #fb4f14;
}
.dal {
  background-color: #00386c;
}
.phi {
  background-color: #004c54;
}
.nyg {
  background-color: #03497f;
}
.was {
  background-color: #79002e;
}
.gb {
  background-color: #003b2a;
}
.chi {
  background-color: #c83803;
}
.min {
  background-color: #4e2683;
}
.det {
  background-color: #0076b6;
}
.no {
  background-color: #d3bc8d;
}
.car {
  background-color: #108dcd;
}
.tb {
  background-color: #d50a0a;
}
.atl {
  background-color: #c9243f;
}
.sf {
  background-color: #aa0000;
}
.sea {
  background-color: #003463;
}
.la {
  background-color: #13264b;
}
.ari {
  background-color: #97233f;
}

/* ======= End NFL ==========*/

/* =========== End Team Colors Classes ============= */
